/*** Content ***/

.content-wrapper {
  // overflow-y: visible !important;
  background-color: $bg_primary_col;
  // padding: 10px;
}

.content {
  padding-top: 50px;

  .tab-content h2 {
    border-bottom: 1px solid $light2; // line below title
    padding-bottom: 16px;
  }
}

// box effect
// TODO: Make it function or use existing function
.box-primary {
  border-radius: 10px !important;
  background-color: #FFF; 
  border-color: rgba($primary_col, 0.8) !important; 
  top: 15px;

  .box-title {
    font-size: 1.6em;
  }
  
  // help msg
  .help-block {
    margin: 8px 5px 2.5px 5px ;
  }
}

// if use solidHeader box
.box-solid {

  @extend .box-primary;
  border: 0px !important;

 .box-header {
    border-radius: 10px;
    background: rgba($primary_col, 0.8) !important;
    margin: 0 5px 5px 5px;
    top: -7px;

    // collapse button
    .box-tools .btn{
      background: rgba($primary_col, 0.8);
    }
  }
}

// ui dashboard
#dashboard_switch_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#dashboard {
  margin-top: 20px;

  .tab-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
    margin: 15px 0;
  }

  .valueBox-title {
    @extend .tab-title;
    padding-top: 42px;
  }

  .nav-tabs {

    &>li.active>a {
      color: #fff !important;
      background-color: rgba($primary_col, 0.8) !important;
    }
  
    &>li>a {
      color: #000;
      background-color: transparent;
    }
  }
}

#div_download, #div_validate, #div_val_gsheet {
    font-size: 18px; 
    background-color: white; 
    margin: 10px 0; 
    padding: 10px 0;
}
