/*** Content ***/

.content-wrapper {
  // overflow-y: visible !important;
  background-color: $bg_primary_col;
  // padding: 10px;
}

.content {
  padding-top: 50px;

  .tab-content h2 {
    border-bottom: 1px solid $light2; // line below title
    padding-bottom: 16px;
  }
}

// box effect
// TODO: Make it function or use existing function
.box-primary {
  border-radius: 10px !important;
  background-color: #fff;
  border-color: rgba($primary_col, 0.8) !important;
  top: 15px;

  .box-title {
    font-size: 1.6em;
  }

  // help msg
  .help-block {
    margin: 8px 5px 2.5px 5px;
  }
}

// if use solidHeader box
.box-solid {
  @extend .box-primary;
  border: 0px !important;

  .box-header {
    border-radius: 10px;
    background: rgba($primary_col, 0.8) !important;
    margin: 0 5px 5px 5px;
    top: -7px;

    // collapse button
    .box-tools .btn {
      background: rgba($primary_col, 0.8);
    }
  }
}

#div_template {
  margin: 20px 0;

  #template_link {
    margin-left: 5px; // align help text
    color: $organe_red;
    font-size: 1.2em;

    &:hover {
      text-decoration: underline;
    }
  }
}

#div_template_warn {
  margin-left: 5px;
}

#div_download,
#div_val_gsheet {
  font-size: 18px;
  background-color: white;
  margin: 10px 0;
  padding: 10px 0;
}

// validation error/warning messages
.validation-card {
  box-shadow: $simple_shadow;
  margin: 24px 0 12px;
  max-height: 224px;
  overflow-x: hidden;
  overflow-y: scroll;

  .validation-card-header {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 600;

    i {
      font-size: 2em;
      margin-right: 10px;
    }

    &.error {
      background-color: rgba(pink, 0.8);
      color: $error_col;
    }

    &.warning {
      background-color: rgba(peachpuff, 0.8);
      color: $warning_col;
    }
  }

  .validation-card-help-msg {
    padding: 10px 8px 5px;
  }

  .validation-card-msg {
    margin: 18px 0;
    padding: 10px;
    box-shadow: $simple_shadow;

    &.error {
      border-left: 4px solid $error_col;
    }

    &.warning {
      border-left: 4px solid $warning_col;
    }

    span {
      position: relative;
      left: 6px;
    }
  }
}
