.RData
.Rhistory
.Rproj.user/
.DS_Store
HTAN_test_shiny.Rproj
app.bak.R
.Rproj.user
schematic/
data-models/
great_expectations/
*.json
*.jsonld
*.rds
*.csv
*.txt
**/token.pickle
**/.synapseConfig
**/__pycache__
oauth_config.yml
schematic_config.yml
.project
.settings/**
.venv
# tmp not ignore config.json
!www/config.json