.RData
.Rhistory
.Rproj.user/
.DS_Store
HTAN_test_shiny.Rproj
app.bak.R
get_manifest_anno.R
manifest_url.txt
**/config.json
tmp/synapse_storage_manifest.csv
.Rproj.user
schematic/
**/credentials.json
**/schematic_service_account_creds.json
**/token.pickle
**/.synapseConfig
**/__pycache__
oauth_config.yml
schematic_config.yml
.project
.settings/**
.venv
data-models/