.checklist-container {
  min-height: 400px;
  text-align: center;
  box-shadow: 0 2px 30px rgba(#000, 0.2);
  
  .fa-lightbulb {
    margin-right: 5px;
    color: $notif_process_col;
  }
  
  .checklist-header {
    background: rgba($primary_col, 0.8);
    border-radius: 0 0 43% 43%;
    min-height: 70px;

    .checklist-title {
      font-weight: bold;
      text-shadow: 0 1px 0 rgba(black, 0.1);
      padding: 10px 0;
      margin: 0;
      font-size: 1.6em;
      color: #fff;
    }
  }
  
  .checklist-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    top: -2em;
    padding: 0 25px;
    
    .checklist-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 10px;
      
      .checklist-subtitle {
        border: 0.3em solid #fff;
        border-radius: 100%;
        color: #fff;
        background: #c85741;
        width: 100px;
        padding: 0.5em;
        font-size: 1.2em;
        font-weight: bold;
        text-shadow: 0 1px 0 rgba(#000, 0.1);

        &.upload {
          background: #28a745;
        }
      }
      
      .checklist-data {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-width: 100%;
        margin-top: 10px;
        font-size: 1em;
        color: #777;

        .checklist-icon {
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          width: 100%;
          padding: 10px;
          font-size: 1em;
          box-shadow: $simple_shadow;
          
          &:hover {
            box-shadow: $float_shadow;
          }

          a {
            display: inline-block;
            margin-left: 5px;
            order: 2;
          }
          
          span {
            margin-left: auto;
            order: 3;
          }
        }
      }
    }
  }

  .help-block {
    position: relative;
    top: -2em;
  }
}

@media (max-width: 979px) {
  .checklist-content {
    display: flex !important;
    flex-direction: column;
  }
}