/*** message ***/

// message
.message-menu {
  padding-top: 5px;
}

// validation message
.error_msg,
.shiny-output-error {
  color: $error_col;
}

.success_msg {
  color: $success_col;
}

.warn_msg {
  color: $warning_col;
}
// notification
.shiny-notification {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}
#shiny-notification-error {
  height: 500px;
  padding: 20px;
  display: table-cell;
}

#shiny-notification-processing {
  background-color: $notif_process_col;
}

#shiny-notification-success {
  background-color: $notif_success_col;
}
