/*** message ***/

// message
.message-menu {
  padding-top: 5px;
}

// validation message
.error-msg,
.shiny-output-error {
  color: $error_col;
}

.success-msg {
  color: $success_col;
}

.warn-msg {
  color: $warning_col;
}

.black-msg {
  color: $black;
}

// bold
.no-bold {
  font-weight: 400;
}
.bold-sm {
  font-weight: 500;
}
.bold-normal {
  font-weight: 600;
}
.bold-lg {
  font-weight: 700;
}

//styles
.font-italic {
  font-style: italic;
}

// notification
.shiny-notification {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}
#shiny-notification-error {
  height: 500px;
  padding: 20px;
  display: table-cell;
}

#shiny-notification-processing {
  background-color: $notif_process_col;
}

#shiny-notification-success {
  background-color: $notif_success_col;
}
