.progress-group {
  margin: 15px 40px;

  .progress {
    margin: 10px 0;
    border-radius: 25px;
    border: #000 1px solid; // don't go over 1px

    .progress-bar {
      border-bottom-left-radius: 25px;
      border-top-left-radius: 25px;
    }
  }
}