.dc-tooltip {
  position: relative;

  &::before {
    content: attr(aria-label);
    position: absolute;
    display: none;
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba($primary_col, 0.9);
    color: white;
    overflow-wrap: break-word;
    font-size: 0.8em;
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    display: none;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    z-index: 1;
  }

  &:hover::before,
  &:hover::after {
    display: inline-block;
  }

  &.top::before {
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    animation: 300ms linear tooltip-fadeDown;
  }

  &.top::after {
    bottom: 100%;
    left: 50%;
    border-bottom-width: 0;
    border-top-color: rgba($primary_col, 0.9);
    transform: translateX(-50%);
    animation: 300ms linear tooltip-fadeDown;
  }
}

@include fadeMove(tooltip-fadeDown, -50%, -50%, -10px, 0);
