/*** Global Variables ***/

// basic color
$primary_col: #605ca8;
$htan_col: rgb(95,0,140);
$light: #f8f9fa;
$light2: #f4f4f4;
$dark: #343a40;
$glass_grey: rgba(104, 103, 103, 0.3);
$organe_red: #e55a17;

// section color
$bg_primary_col: $light;
$sidebar_col: #191919;
$sidebar_pink: #A63FAA;
$footer_col: #878787;
$footer_bg_col: #202020;

// message color
$error_col: #E53935;
$success_col: #28a745;
$warning_col: #FF9900;
$notif_process_col: #F7DC6F; 
$notif_success_col: #82E0AA;

// box shadow
$primary_shadow: 0px 0.0625em 0.0625em rgba(0, 0, 0, 0.25),
                 0px 0.125em 0.5em rgba(0, 0, 0, 0.25),
                 0px 0px 0px 1px inset rgba(255, 255, 255, 0.1);
$simple_shadow:rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, 
               rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
$float_shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
$float_shadow2: 0 5px 11px 0 rgba(0, 0,0, 0.18),
                0 4px 15px 0 rgba(0, 0, 0, 0.15);

// mixin
@mixin header_bg {
  background-image: linear-gradient(450deg, $sidebar_col, $htan_col, transparent);
  background-color: $primary_col;
}