/*** Header ***/

.logo, .navbar {
  background-color: transparent !important;
}

.main-header {

  @include header_bg;

  .logo {
    font-size: 1.8em;
    font-weight: 600;
  }

  #cckp_logo a {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
  }

  // adjust custom dropdown color effect
  .navbar {

    a:hover {
      background-color: $glass_grey !important;
    }

    // custom dropdown - leftUI
    // when the box open
    .open>a {
      background-color: $glass_grey !important;

      &:focus, &:hover {
        background-color: $glass_grey !important;
      }
    }
  }

  .dropdown-menu {
    left: auto !important; // stick with the button left
    box-shadow: $primary_shadow;
    animation: fadeIn 100ms;
  
    ul.menu {
      padding: 0 5px !important;

      // reset all margin
      * {
        margin: 0px;
      }
      
      &>div, .row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100% !important;
      }

      .shiny-input-container{
        width: 250px;
        margin: 5px;
        height: 34px; // match button height

        .selectize-input {
          height: 20px;
        }

        .item {
          display: inline-block;
          width: 80%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .selectize-dropdown {
      // increase the width of expanded dropdown menu
      width: 150% !important;
    }
  }
}

// responsive - cycle back for proper breakpoints if needed
@media (max-width:1146px){

  .shiny-input-container{
    width: 200px !important;
  }
}

@media (max-width:973px){

  ul.menu {

    &>div, .row {
      flex-wrap: wrap;
    }
  }
}