.collapsibleTree-container {
  .top-section {
    display: flex;
    align-items: flex-end;

    h3 {
      padding-bottom: 0;
      color: #737373;
    }
  }

  .legend-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(135px, max-content));
    justify-content: space-evenly;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 6px;
    max-width: 300px;
    gap: 4px;

    .legend {
      display: inline-flex;
      align-items: center;

      svg {
        margin-right: 6px;
      }
      span {
        white-space: nowrap;
      }
    }
  }
}
