.tab-title {
  margin: 20px 15px 15px;
  padding: 0 0 5px;
  text-align: center;
  font-size: 1.4em;
  font-weight: 600;
}

.section-title {
  margin: 20px 15px 15px;
  padding: 0 0 5px;
  width: calc(100% - 30px);
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
}

.image-spin {
  display: inline-block;
  margin: auto;
  width: 3.5em;
  height: 3.5em;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

// ui dashboard
#dashboard-toggle-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 1px; // match better with tab button border
}

#dashboard-box {
  display: none; // hide dashboard by default
  margin-top: 20px;

  #dashboard-tabs {
    border-bottom: 1px solid rgba($primary_col, 0.8);
  }

  .nav-tabs {
    & > li > a {
      color: #000;
      background-color: transparent;
      border: 0.5px solid rgba($primary_col, 0.4);

      &:hover {
        color: #fff;
        background-color: rgba($primary_col, 0.4);
        cursor: pointer;
      }
    }

    & > li.active > a {
      color: #fff !important;
      background-color: rgba($primary_col, 0.8) !important;
      border: none !important;
    }
  }

  .waiter-overlay {
    margin-top: -1px; // match better with tab button border
  }
}
