.selectedDataTypeTab-container {

  .bottom-title-container {
    display: flex;
  }

  .legend-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;

    span {
      font-size: 1em;

      i {
        margin-right: 8px;
      }
    }
  }
}

