.selectedProjectTab-container {
  .banner-container {
    display: flex;
    align-items: center;
  }

  #dashboard-tab-selected-project-checkbox-evaluate {
    margin-top: 24px;
  }

  .shiny-input-checkboxgroup.shiny-input-container-inline
    label
    ~ .shiny-options-group
    > label
    > span {
    color: $primary_col;
    font-weight: 600;
  }
}

@media (max-width: $desktop) {
  .selectedDataTypeTab-container {
    .summary-box {
      flex-direction: column;

      .progress-group {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .selectedDataTypeTab-container {
    .top-container {
      flex-direction: column;
    }
  }
}

@media (max-width: $desktop) {
  .progress-box,
  .tree-bpx {
    width: 100%;
  }
}
