.box-zoom {
  transition: 300ms;
  transition-property: transform;

  &:hover {
    transform: scale(1.005); // change scale here
    z-index: 100;
  }
}

.box-float {
  transition: 300ms;
  transition-property: box-shadow;

  &:hover {
    box-shadow: $float-shadow;
    z-index: 100;
  }
}