// basic
@import 'basic/load';

// modules
@import 'modules/load';

// sections
@import 'section/load';

// tabs
@import 'tabs/load';
// feature styles
@import 'basic/animation';
@import 'basic/button';
@import 'basic/box';
@import 'basic/message';
