// global variables
@import 'basic/variables';

// dashboard sections
@import 'section/header';
@import 'section/sidebar';
@import 'section/content';
@import 'section/footer';

// feature styles
@import 'basic/animation';
@import 'basic/button';
@import 'basic/box';
@import 'basic/message';
