.progress-group {
  margin-bottom: 8px;

  .progress-title-container {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;

    .progress-title {
      font-size: 1em;
      font-weight: 600;
    }
    .progress-subtitle {
      font-size: 0.8em;
      font-style: italic;
    }
  }

  .progress-pct {
    font-weight: 600;
    color: #555;
  }

  .progress-linear {
    position: relative;
    margin-top: 5px;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);

    .progress-linear-value {
      float: right;
      height: 100%;
      background-color: #f5f5f5;
      // animation: linearSlide 1s linear;
    }

    .progress-pct.linear {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  }

  .progress-circular {
    .progress-circular-outer {
      position: relative;
      border-radius: 50%;
      padding: 20px;
      background-color: #f5f5f5;
      box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    }

    .progress-circular-inner {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0 rgba(0, 0, 0, 0.15),
        0 12px 10px -10px rgba(0, 0, 0, 0.05);
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;

      circle {
        fill: none;
        stroke-width: 20px;
      }
    }
  }
}
