@import 'selectedDatatypeTab';
@import 'selectedProjectTab';

.tab-title {
  margin: 20px 15px 15px;
  padding: 0 0 5px;
  text-align: center;
  font-size: 1.4em;
  font-weight: 600;
}

.section-title {
  margin: 20px 15px 15px;
  padding: 0 0 5px;
  width: calc(100% - 30px);
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
}

.image-spin {
  display: inline-block;
  margin: auto;
  width: 3.5em;
  height: 3.5em;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
