.selectedDataTypeTab-container {
  .top-container {
    display: flex;
    align-items: center;
  }

  .bottom-title-container {
    display: flex;
  }

  .legend-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;

    span {
      font-size: 1em;

      i {
        margin-right: 8px;
      }
    }
  }

  .summary-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 150px;
    padding: 20px 15px;
    margin-bottom: 15px;
    background-color: rgba($primary_col, 0.6);
    color: #fff;
    box-shadow: $primary_shadow;

    .summary-icon {
      color: #f7dc6f;
    }

    .progress-group {
      margin-left: 15px;

      .progress-circular-inner {
        background-color: rgba($primary_col, 0.6);
      }
    }
  }

  .stats-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 150px;

    .stats-item-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, 135px); // dont use auto-fill
      grid-gap: 5px;
      justify-content: space-evenly;

      .stats-item {
        display: inline-flex;
        align-items: center;
        font-size: 1.2em;

        i {
          margin-right: 8px;
        }

        .stat-text {
          width: 100%;

          h4 {
            width: 100%;
            margin: 0;
            margin-bottom: 3px;
            padding-bottom: 3px;
            color: #878787;
            font-size: 0.8em;
          }

          span {
            font-weight: 600;
          }
        }

        &.selected {
          i {
            color: $htan_col;
          }

          h4 {
            border-bottom: 0.6px solid $htan_col;
          }
        }
        &.completed {
          i {
            color: $success_col;
          }

          h4 {
            border-bottom: 0.6px solid $success_col;
          }
        }
        &.missing {
          i {
            color: $error_col;
          }
        }

        &.outdated {
          i {
            color: $warning_col;
          }

          h4 {
            border-bottom: 0.6px solid $warning_col;
          }
        }
      }
    }

    .stats-btn-container {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;

      .btn-primary-color {
        background-color: rgba($primary_col, 0.6);
      }

      span {
        margin-left: 16px;
        color: #878787;
      }
    }
  }
}

@media (max-width: $desktop) {
  .selectedDataTypeTab-container {
    .summary-box {
      flex-direction: column;

      .progress-group {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .selectedDataTypeTab-container {
    .top-container {
      flex-direction: column;
    }
  }
}
